$font_RHT: 'Red Hat Text';
$white: #ffffff;
$dirty-green: #0d606f;
$button-hover: #138ba0;
$peach: #f2785c;
$peach_90: rgb(95%, 47%, 36%, 90%);

.button {
  font-family: $font_RHT;
  font-weight: 500;
  background: $dirty-green;
  border-radius: 10px;
  color: $white;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  transform: scale(0.96);
  background-color: $button-hover;
}

.button.primary {
  font-size: 24px;
  line-height: 32px;
  width: 228px;
  height: 59px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.button.signInWith {
  background-color: $white;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $white;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.button.signInWith.facebook {
  position: relative;
  color: $white;
  background: #1877F2;
}

.button.signInWith.google {
  position: relative;
  background-color: $white;
  color: $dirty-green;
}

.button.signInWith.facebook::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 140px;
  background-repeat: no-repeat;
  background-image: url(../../../images/facebook-form-icon.svg);
}

.button.signInWith.google::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 16px;
  left: 140px;
  background-repeat: no-repeat;
  background-image: url(../../../images/google-form-icon.svg);
}

.button.primary.register__submit {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: $white;
  width: 100%;
  height: 54px;
  box-shadow: inset 0px 0px 3px rgba(13, 96, 111, 0.08), inset 0px 2px 3px rgba(13, 96, 111, 0.16);
}

.button.arrow_r {
  position: relative;
  text-align: end;
  padding-right: 31px;
}

.button.arrow_r::before {
  content: "\2192";
  font-size: 40px;
  position: relative;
  right: 15px;
  top: 3px
}

.button.steps-btn {
  width: 100px;
  height: 100px;
  border-radius: 16px;
  background-color: $peach;
  background-repeat: no-repeat;
  background-position: center;
}

.button.steps-btn:hover {
  background-color: $peach_90;
}

.button.steps-btn.byke {
  background-image: url(../../../images/byke.svg);
}

.button.steps-btn.calendar {
  background-image: url(../../../images/calendar.svg);
}

.button.steps-btn.plane {
  background-image: url(../../../images/plane.svg);
}

.button.small {
  font-size: 16px;
  line-height: 21px;
  width: 103px;
  height: 41px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
}

@media (max-width: 950px) {
  .button {
    border-radius: 10px;
  }

  .button.primary {
    font-size: 21px;
    line-height: 28px;
    width: 160px;
    height: 42px;
  }

  .button.small {
    font-size: 16px;
    line-height: 21px;
    width: 103px;
    height: 41px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  }

  .button.arrow_r {
    position: relative;
    text-align: end;
    padding-right: 14px;
  }

  .button.arrow_r::before {
    font-size: 30px;
    right: 10px;
    top: 3px
  }
}

@media (max-width: 699px) {
  .button {
    border-radius: 10px;
  }

  .button.primary {
    font-size: 18px;
    line-height: 22px;
    width: 140px;
    height: 35px;
  }

  .button.small {
    font-size: 16px;
    line-height: 21px;
    width: 103px;
    height: 41px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  }

  .button.arrow_r {
    text-align: end;
    padding-right: 10px;
  }

  .button.steps-btn.byke,
  .button.steps-btn.calendar,
  .button.steps-btn.plane {
    transform: scale(0.7);
  }

  .button.signInWith {
    height: 46px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 20px;
  }

  .button.primary.register__submit {
    font-size: 18px;
    line-height: 20px;
    height: 46px;
  }

  .button.signInWith.facebook::before,
  .button.signInWith.google::before {
    top: 12px;
    left: 80px;
  }

}

@media (max-width: 520px) {
  .button {
    border-radius: 10px;
  }

  .button.primary {
    font-size: 11px;
    line-height: 15px;
    width: 92px;
    height: 30px;
  }

  .button.small {
    font-size: 11px;
    line-height: 15px;
    width: 92px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
  }

  .button.arrow_r::before {
    font-size: 20px;
    right: 5px;
    top: 2px
  }

  .button.signInWith {
    height: 36px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 16px;
  }

  .button.primary.register__submit {
    font-size: 14px;
    line-height: 16px;
    height: 36px;
  }

  .button.signInWith.facebook::before,
  .button.signInWith.google::before {
    top: 7px;
    left: 40px;
  }
}