$peach_70: rgb(95%, 47%, 36%, 70%);
$font_Magra: 'Magra';
$font_RHT: 'Red Hat Text';
$white: #ffffff;
$font_Aleo: 'Aleo',
  serif;

.preview {
  font-family: font_Aleo;
  background-image: url(../../images/preview_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;

  &__title {
    letter-spacing: -0.05em;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;

  }

  &__subtitle {
    margin: 46px 0;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
  }

  &__search-form {
    padding-bottom: 33px;
  }
}

.preview__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 892px;
  margin: 32px auto 0px;
  padding-bottom: 221px;
}

@media (max-width: 950px) {
  .preview {
    &__title {
      font-size: 60px;
      line-height: 76px;
      text-align: center;
    }

    &__search-form {
      padding-bottom: 33px;
    }
  }

  .preview__wrapper {
    max-width: 650px;
    padding-bottom: 221px;
  }

}

@media (max-width: 699px) {
  .preview {
    &__title {
      display: none;
    }

    &__subtitle {
      display: none;
    }

    &__search-form {
      padding-bottom: 81px;
    }
  }

  .preview__wrapper {
    margin: 67px auto 0px;
    max-width: 480px;
    padding-bottom: 0px;
  }
}

@media (max-width: 520px) {
  .preview {
    &__search-form {
      padding-bottom: 61px;
    }
  }

  .preview__wrapper {
    max-width: 340px;
    margin: 67px auto 0px;
    padding-bottom: 0px;
  }
}