$white: #ffffff;
$peach: #f2785c;
$font_RHT: 'Red Hat Text',
  sans-serif;

.steps {
  background-color: $white;
  padding: 80px 0px 97px;


  &__title {
    font-family: $font_RHT;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: $peach;
    text-align: center;
  }

  &__buttons {
    width: 994px;
    margin: 40px auto 30px;
    display: flex;
    justify-content: space-between;
  }
}

.steps__wrapper {
  max-width: 1177px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}