$font_RHT: 'Red Hat Text', sans-serif;
$white: #ffffff;

.footer {
  color: $white;

  &__wrapper {
    padding: 14px 20px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__trademark {
    flex-grow: 1;
    text-align: center;
    font-family: $font_RHT;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $white;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    flex-shrink: 1;
    margin-left: auto;

    &__list {
      display: flex;
      gap: 20px;

      &-item {
        list-style-type: none;
        padding: 0;
        align-self: center;
      }
    }

    &__link {
      display: block;
      width: 34px;
      height: 34px;
    }

    &__link_instagram {
      background-image: url(../../images/insta.svg);
    }

    &__link_youtube {
      background-image: url(../../images/youtube.svg);
    }

    &__link_twitter {
      background-image: url(../../images/twitter.svg);
    }

    &__link::after {
      display: none;
    }
  }
}

@media (max-width: 520px) {
  .footer {

    &__trademark {
      display: none;
    }

    &__content {
      display: flex;
      justify-content: center;
    }

    &__navigation {
      margin-left: 0;

    }
  }
}